body {
  background-color:#bfba00;
  color: #fff;
  font-family: sans-serif;
}

a:link, a:visited {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #32CD32;
  font-weight: bold;
  text-decoration: underline;
}

.heading {
  text-align: center;
  border: 1px solid;
  padding: 15px;
  border-radius: 10px;
  font-family: 'Big Shoulders Stencil Text', cursive;
}

.link {
  list-style-type: none;
}

.menu {
width: 300px;
background-color: #fb0;
margin: 5px;
margin-left: auto;
margin-right: auto;
padding: 5px;
text-align: center;
}

.gambar-resep {
  width: 350px;
}

.info {
  padding: 20px;
}

.container {
width: 80%;
margin: auto;
}

.gradient{
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f8ffe8+0,e3f5ab+15,b7df2d+100 */
background: #fe91ca; /* Old browsers */
background: -moz-linear-gradient(top,  #fe91ca 0%, #e3f5ab 15%, #fe91ca 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #fe91ca 0%,#e3f5ab 15%,#fe91ca 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #fe91ca 0%,#e3f5ab 15%,#fe91ca 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe91ca', endColorstr='#fe91ca',GradientType=0 ); /* IE6-9 */
}

.blue-gradient{
  background: #d0e4f7; /* Old browsers */
background: -moz-linear-gradient(45deg, #d0e4f7 0%, #73b1e7 24%, #0a77d5 50%,
#539fe1 79%, #87bcea 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, #d0e4f7 0%,#73b1e7 24%,#0a77d5
50%,#539fe1 79%,#87bcea 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, #d0e4f7 0%,#73b1e7 24%,#0a77d5 50%,#539fe1
79%,#87bcea 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0e4f7',
endColorstr='#87bcea',GradientType=1 );
}

.blockmenu{
width: 200px;
height: 150px;
list-style: none;
text-align: center;
float:left;
margin: 5px;
border-radius: 15px;
background-color: white;
box-shadow: 3px 3px 5px grey;
overflow: hidden;
}

.iconmenu{
width: 200px;
height: 110px;
overflow: hidden;
}

.iconmenuimg{
width: 100%;
height: 100%;
}

.iconmenuimgg{
width: 200px;
height: 200px;
}

.textmenu{
padding: 5px;
font-size: 20px;
}

.row {
display: flex;
}

.feature-image {
flex: 30%;
min-width: 200px;
height: 500px;
border-radius: 20px;
border: 2px solid #fff;
box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
overflow: hidden;
float: left;
}

.img-responsif {
height: 100%;
}

.content {
flex: 70%;
font-family: 'Abel',cursive;
}

@media screen and (max-width: 600px) {
.row {
display: block;
}

.feature-image {
width: 100%;
height: 300px;
float: none;
}

.content {
width: 100%;
}

.menu {
display: block;
padding: 0px;
}

.blockmenu{
width: 80%;
height: 150px;
}

.iconmenu{
width: 100%;
height: 110px;
overflow: hidden;
}
}
